<!doctype html>
<head>
{% block head %}
  <meta charset="{{ encoding | default("UTF-8") }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/style.css">

  {% if feedurl %}
    <link rel="alternate" type="application/atom+xml" href="{{ feedurl }}" title="{{ metadata.title }}">
  {% endif %}

  <title>{% block title %}{{ metadata.title }}{% endblock %}</title>
{% endblock %}

<body>
  <aside>
    <div class="container">
      {% if metadata.theme.sidebar.photo %}
        <img class="photo" src="{{ metadata.theme.sidebar.photo }}">
      {% endif %}

      {% if metadata.theme.sidebar.about %}
        <span class="about">{{ metadata.theme.sidebar.about }}</span>
      {% endif %}

      <nav>
        {% for name, url in metadata.theme.get('navigation', []) %}
          <span><a href="{{ url }}">{{ name }}</a></span>
        {% endfor %}
      </nav>
    </div>
  </aside>

  <main>
    {% block content %}
    {% endblock %}
  </main>
