{% extends '_base.j2' %}

{% if item.summary %}
  {% set summary = item.summary.replace('\n', ' ').strip() %}
{% endif %}

{% if item.author or metadata.author %}
  {% set author = item.author or metadata.author %}
{% endif %}

{% block head %}
  {% if author is defined %}
    <meta name="author" content="{{ author }}" />
  {% endif %}
  {% if summary is defined %}
    <meta name="description" content="{{ summary }}" />
  {% endif %}

  {% if item.summary %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ summary }}" />
    <meta name="twitter:title" content="{{ item.title }}" />
  {% if theme.twitter_cards and theme.twitter_cards.username %}
    <meta name="twitter:site" content="@{{ theme.twitter_cards.username }}" />
  {% endif %}
  {% endif %}

    <meta property="og:title" content="{{ item.title }}" />
  {% if summary is defined %}
    <meta property="og:description" content="{{ summary }}" />
  {% endif %}
    <meta property="og:url" content="{{ item.absurl }}" />
    <meta property="og:site_name" content="{{ metadata.title }}" />
  {% if item.published is defined %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ item.published.isoformat() }}" />
    <meta property="article:modified_time" content="{{ item.updated.isoformat() }}" />
    <meta property="article:author" content="{{ author }}" />
  {% else %}
    <meta property="og:type" content="website" />
  {% endif %}

  {% if theme.fediverse and theme.fediverse.creator %}
    <meta name="fediverse:creator" content="{{ theme.fediverse.creator }}" />
  {% endif %}
{% endblock %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
    <article>
      <header>
      {% if item.published is defined %}
        <time datetime="{{ item.published.isoformat() }}">{{ item.published.strftime('%B %d, %Y') }}</time>
      {% endif %}
        <h1>{{ self.title() }}</h1>
      </header>

      {{ item.content }}
    </article>
{% endblock %}
