{#-
 # Copyright 2012 Igor Kalnitsky <igor@kalnitsky.org>
 #
 # This file is part of Nifty Pelican Theme.
 #
 # Nifty Pelican Theme is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Nifty Pelican Theme is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Nifty Pelican Theme.  If not, see <http://www.gnu.org/licenses/>.
-#}

{% extends "base.html" %}

{% block content %}
<ul class="tagcloud">
  {% for tag in tag_cloud %}
  <li style="font-size: {{ 40 / tag.1 + 60 }}%;"><a href="/{{ TAG_URL.format(slug=tag.0) }}">{{ tag.0 }}</a></li>
  {% endfor %}
  <div style="clear: both"></div>
</ul>
{% endblock %}
