:root {
  --page-background-color: #FEFEFE;
  --page-foreground-color: #2E3440;
  --page-hyperlink-color: #1976D2;
  --page-hyperlink-hover-color: #2196F3;
  --page-alt-background-color: #FCFCFC;
  --page-alt-foreground-color: #757575;
  --page-note-background-color: #1976D211;
  --page-note-foreground-color: #1976D2;
  --page-note-border-color: #1976D2;
  --page-warning-background-color: #E3980011;
  --page-warning-foreground-color: #E39800;
  --page-warning-border-color: #E39800;
  --page-separator-shadow-1: rgba(0, 0, 0, 0.1);
  --page-separator-shadow-2: rgba(0, 0, 0, 0.2);
  --side-separator-color: #333333;
  --side-hyperlink-color: #424242;
  --side-hyperlink-hover-color: #212121;
  --side-about-pic-width: 120px;
  --main-width: 750px;
  --main-border-color: rgba(0, 0, 0, 0.14);
  --screen-padding: 2rem;
  --page-font-family:
      "DejaVu Serif",       /* linux */
      "Charter",            /* macos */
      "Georgia",            /* windows */
      serif;
  --page-mono-font-family:
      "DejaVu Sans Mono",   /* linux */
      monospace;
  --banner-background-color: #0071CE;
  --banner-border-color: #FCDF51;
  --banner-text-color: #FEFEFE;
}

body {
  background-color: var(--page-background-color);
  color: var(--page-foreground-color);
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "banner banner"
    "aside main";
  justify-items: stretch;
  font: 1rem/1.7 var(--page-font-family);
  min-height: 100vh;
  margin: 0;
}

a {
  color: var(--page-hyperlink-color);
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:hover {
  color: var(--page-hyperlink-hover-color);
  border-bottom: 1px solid;
}

.banner {
  grid-area: banner;
  text-align: center;
  line-height: 2em;
  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
  border-bottom: 5px solid var(--banner-border-color);
}

.banner a {
  color: var(--banner-text-color);
}

aside {
  color: var(--page-alt-foreground-color);
  padding: var(--screen-padding);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  justify-self: end;
  grid-area: aside;
}

aside > *::before {
  border-top: 1px solid var(--side-separator-color);
  content: " ";
  display: block;
  margin: 1rem auto;
  width: 2rem;
}

aside a {
  color: var(--side-hyperlink-color);
}

aside a:hover {
  color: var(--side-hyperlink-hover-color);
}

aside .about-pic {
  border-radius: 50%;
  max-height: var(--side-about-pic-width);
  max-width: var(--side-about-pic-width);
  align-self: center;
}

aside .about-txt {
  display: block;
  font-size: 0.8rem;
}

aside .about-txt a {
  font-weight: bold;
}

aside nav {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  gap: 0.3rem;
}

main {
  box-shadow:
    -3px 0px 3px -3px var(--page-separator-shadow-1),
    -6px 0px 6px -6px var(--page-separator-shadow-2);
  padding: var(--screen-padding);
  max-width: var(--main-width);
  min-width: 0;
  grid-area: main;
}

main .section {
  font-size: 1.5rem;
  font-weight: bold;
}

main article img {
  width: 100%;
}

main header {
  line-height: 1.4;
}

main header time {
  color: var(--side-hyperlink-color);
  font-size: 0.90rem;
}

main header h1:not(:only-child) {
  margin-top: 0.0rem;
}

main h1 {
  font-size: 1.5rem;
}

main h2 {
  font-size: 1.2rem;
}

main h3,
main h4,
main h5,
main h6 {
  font-size: 1rem;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  color: #282c37;
  text-transform: uppercase;
}

main code {
  background-color: var(--page-alt-background-color);
  font-family: var(--page-mono-font-family);
  padding: 0.1rem 0.3rem;
}

main pre code {
  background-color: var(--page-alt-background-color);
  border-left: 1px solid var(--main-border-color);
  font-family: var(--page-mono-font-family);
  font-size: 0.95rem;
  line-height: 1.3rem;
  overflow: auto;
  padding: 0.5rem 1rem;
  display: block;
}

main blockquote {
  background-color: var(--page-alt-background-color);
  border-left: 1px solid var(--main-border-color);
  color: var(--page-alt-foreground-color);
  font-size: 0.95rem;
  padding: 0.2rem 1rem;
  margin: 0;
}

main table {
  border-collapse: collapse;
  overflow: auto;
  width: calc(100% - 1rem);
}

main table td,
main table th {
  border: 1px solid var(--main-border-color);
  border-left: 0;
  border-right: 0;
  padding: 0.4rem 1rem;
}

main table thead tr {
  background-color: var(--page-alt-background-color);
  font-weight: bold;
}

main table tbody tr:nth-child(2n) {
  background-color: var(--page-alt-background-color);
}

main ul {
  list-style: square;
}

main em {
  border-bottom: 1px dotted;
  font-style: normal;
}

main .note {
  background-color: var(--page-note-background-color);
  color: var(--page-note-foreground-color);
  border-left: 1px solid var(--page-note-border-color);
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  margin: 0;
}

main .warning {
  background-color: var(--page-warning-background-color);
  color: var(--page-warning-foreground-color);
  border-left: 1px solid var(--page-warning-border-color);
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  margin: 0;
}

main .index-entry {
  display: flex;
  padding: 0.1rem 0;
  gap: 2rem;
}

main .index-entry time {
  flex: 0 0 7rem;
  text-align: right;
}

main .footnotes-sep {
  color: var(--main-border-color);
}

@media (max-width: 812px) {
  :root {
    --screen-padding: 20px;
  }

  body {
    grid: none;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "banner"
      "aside"
      "main";
  }

  .aside-wrapper  {
    flex-flow: row;
    flex: none;
    justify-content: stretch;
  }

  aside {
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }

  aside > *::before {
    margin: 0.7rem auto;
  }

  aside .about-txt {
    width: 10rem;
  }

  aside .nav-wrapper {
    width: 100%;
  }

  aside nav {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  aside nav span {
    margin: 0;
  }

  main {
    box-shadow:
      0px -3px 3px -3px var(--page-separator-shadow-1),
      0px -6px 6px -6px var(--page-separator-shadow-2);
  }

  main .index-entry {
    gap: 1rem;
  }
}
